@use "../../styles/abstracts" as *;

.button {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
  cursor: pointer;
  padding: 2rem 4rem 2rem;
  border-radius: 1.4rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  transition: 0.3s;
  transform-style: preserve-3d;
  max-width: 44.5rem;

  @include min(md) {
    font-size: 2.1rem;
    padding: 3rem 4rem 2.7rem;
  }

  &:hover {
    @include min(md) {
      transform: scale(1.05);
    }
  }

  &Purple {
    background: $primary-text;
    color: $white;
    font-weight: 900;
    margin-bottom: 3.5rem;
    margin: 0 auto 3.5rem;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      top: 0.5rem;
      border-radius: 1.4rem;
      background: $primary-button;
      left: 0;
      position: absolute;
      transform: translateZ(-1px);
    }
  }

  &Orange {
    background: $orange-gradient;
    color: $white;
    font-weight: 700;
    margin-top: 2.5rem;

    @include min(md) {
      margin-top: 7.5rem;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      top: 0.5rem;
      border-radius: 1.4rem;
      background: $orange-button-shadow-bg;
      left: 0;
      position: absolute;
      transform: translateZ(-1px);
    }
  }

  &White {
    background: $white;
    color: $primary-text;
    border: 2px solid $primary-bg;
    margin: 0 auto 2rem;
  }
}
