@use "../../styles/abstracts" as *;

.logo {
  margin-bottom: 7rem;

  @include min(lg) {
    max-width: 70rem;
  }

  @include max(md) {
    margin-bottom: 4rem;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: $white;
  margin-bottom: 3rem;

  @include min(md) {
    font-size: 4.6rem;
    line-height: 5.8rem;
  }
}

.form {
  width: 100%;
  max-width: 47.5rem;
  padding: 0 1.5rem;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  &Title {
    color: $orange-light;
    align-items: center;
    margin-left: 1.5rem;
    line-height: 3rem;
    font-size: 1.5rem;

    @include max(md) {
      font-size: 1.3rem;
      margin-left: 1rem;
    }
  }

  &Icon {
    @include max(md) {
      transform: scale(0.8);
    }
  }
}
.error {
  position: absolute;
  left: 0;
  bottom: 13rem;
  z-index: 4;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  color: red;

  @include max(md) {
    bottom: 8rem;
    font-size: 1.4rem;
  }
}

.decoration {
  position: absolute;
  max-height: 70vh;

  @include max(xxl) {
  }

  &Top {
    &Right {
      @extend .decoration;
      content: url("../../assets/decorations/mobile-decoration-right-top.svg");
      right: 0;
      top: 2rem;

      @include min(md) {
        content: url("../../assets/decorations/desktop-decoration-right-top.svg");
      }
    }

    &Left {
      @extend .decoration;
      content: url("../../assets/decorations/mobile-decoration-left-top.svg");
      left: 0;
      top: 0;

      @include min(md) {
        content: url("../../assets/decorations/desktop-decoration-left.svg");
      }
    }
  }

  &Bottom {
    &Right {
      @extend .decoration;
      content: url("../../assets/decorations/mobile-decoration-right-bottom.svg");
      right: 0;
      bottom: 0;

      @include min(md) {
        content: url("../../assets/decorations/desktop-decoration-right-bottom.svg");
      }
    }

    &Left {
      @extend .decoration;
      content: url("../../assets/decorations/mobile-decoration-left-bottom.svg");
      left: 0;
      bottom: 0;

      @include min(md) {
        content: url("../../assets/decorations/desktop-decoration-left-bottom.svg");
      }
    }
  }
}
