//Project colors

$primary-button: #424a9e;
$primary-text: #4953be;
$primary-bg: rgb(73, 83, 193);
$secondary-text: #4953be;
$orange-gradient: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);
$orange-button-shadow-bg: #c65252;
$purple-button-shadow-bg: #424a9e;
$card-text-color: #464fac;
$correct-card-bg: #fffbfa;
$incorrect-card-bg: #ffdbdb;
$white: #fff;
$orange-light: #f7a491;
$orange-number: #ff7878;
$progress-bar: #dbdeff;
