@use '../../styles/abstracts'as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 66.5rem;
}

.decoration {
    position: absolute;
    max-height: 70%;

    &Top {

        &Right {
            @extend .decoration;

            right: 0;
            top: 2rem;

            @include min(md) {
                content: url('../../assets/decorations/quizView/desktop-decoration-top-right.svg');

            }

        }

        &Left {
            @extend .decoration;
            left: 0;
            top: 0;


            @include min(md) {
                content: url('../../assets/decorations/quizView/desktop-decoration-top-left.svg');
            }
        }
    }

    &Bottom {

        &Right {
            @extend .decoration;
            right: 0;
            bottom: 0;

            @include min(md) {
                content: url('../../assets/decorations/quizView/desktop-decoratiobn-bottom-right.svg');
            }
        }

        &Left { 
            @extend .decoration;
            left: 0;
            bottom: 0;

            @include min(md) {
                content: url('../../assets/decorations/quizView/desktop-decoration-bottom-left.svg');
            }
        }
    }
}