@use "../../styles/abstracts" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 66.5rem;

  @include max(md) {
    align-items: baseline;
    padding: 0 2rem;
  }
}

.decoration {
  position: absolute;
  max-height: 70%;

  &Top {
    &Right {
      @extend .decoration;

      right: 0;
      top: 2rem;
      content: url("../../assets/decorations/quizView/mobile-decoration-top-right.svg");

      @include min(md) {
        content: url("../../assets/decorations/quizView/desktop-decoration-top-right.svg");
      }
    }

    &Left {
      @extend .decoration;
      left: 0;
      top: 0;
      content: url("../../assets/decorations/quizView/mobile-decoration-top-left.svg");

      @include min(md) {
        content: url("../../assets/decorations/quizView/desktop-decoration-top-left.svg");
      }
    }
  }

  &Bottom {
    &Right {
      @extend .decoration;
      right: 0;
      bottom: 0;
      content: url("../../assets/decorations/quizView/mobile-decoration-bottom-right.svg");

      @include min(md) {
        content: url("../../assets/decorations/quizView/desktop-decoration-bottom-right.svg");
      }
    }

    &Left {
      @extend .decoration;
      left: 0;
      bottom: 0;
      content: url("../../assets/decorations/quizView/mobile-decoration-bottom-left.svg");

      @include min(md) {
        content: url("../../assets/decorations/quizView/desktop-decoration-bottom-left.svg");
      }
    }
  }

  &Middle {
    &Right {
      @extend .decoration;
      right: 0;
      top: 40%;
      content: url("../../assets/decorations/quizView/mobile-decoration-middle-right.svg");

      @include min(md) {
        display: none;
      }
    }
  }
}
