@use "../../styles/abstracts" as *;

.select {
  width: 100%;
  background: none;
  box-shadow: 0.6rem 0.6rem 1.3rem 0.1rem rgba(23, 21, 92, 0.06);
  border-radius: 1rem;
  color: $white;
  border: 0.1rem solid $white;
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
  position: relative;

  @include max(md) {
    margin-bottom: 2.5rem;
  }

  &List {
    position: absolute;
    top: 8rem;
    left: -0.1rem;
    border-radius: 1rem;
    background: $white;
    width: calc(100% + 0.2rem);
    border: 2px solid $white;
    z-index: 1;

    @include max(md) {
      top: 6.5rem;
    }
  }

  &Item {
    color: $primary-bg;
    padding: 1.5rem 1.5rem;
    transition: 0.3s;
    border-radius: 1rem;
    cursor: pointer;
    &:hover {
      background: $orange-light;
      color: $white;
    }

    @include max(md) {
      font-size: 1.3rem;
    }
  }

  &Btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2.4rem 1.5rem;

    @include max(md) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 2rem 1.5rem;
    }
  }

  &Arrow {
    transition: 0.3s;

    &Active {
      transform: rotate(180deg);
    }
  }
}
