@use "../../styles/abstracts" as *;

.answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 2.2rem 2.2rem 3.1rem;
  border-radius: 1.4rem;
  margin-bottom: 2.4rem;
  min-height: 8rem;

  &:last-child {
    margin-bottom: 0;
  }

  &Correct {
    @extend .answer;
    background: $correct-card-bg;
  }

  &Incorrect {
    @extend .answer;
    background: $incorrect-card-bg;
  }
}

.text {
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.7;
  color: $card-text-color;
}

.icon {
  margin-left: 1.5rem;
}
