@use "../../styles/abstracts" as *;

.list {
  position: relative;
  width: 100%;
  max-width: 65rem;
  max-height: 70rem;
  overflow-y: scroll;

  @include max(md) {
    max-height: 45rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
